@charset "UTF-8";

/*------------SITE CONATINER-----------*/

.hidden {   /* Class to hide titles */
	display: none;
}

#siteContainer {   /* Site Dimensions */
	margin: 0 auto;
	width: 960px;
}

body {
	background-image: url("../images/home_paper_background.jpg");
}

h2 {   /* Heading 2 */
	font-size: 32px;
	font-family: "Bahnschrift", Arial, sans-serif;
	margin-left: 28px;
}

h3 {   /* Heading 3 */
	display: flex;
	justify-content: center;
	font-size: 28px;
	font-family: "Bahnschrift", Arial, sans-serif;
	margin: 40px 0px 20px 0px;
}

h4 {   /* Heading 4 */
	font-size: 18px;
	font-family: "Bahnschrift", Arial, sans-serif;
	margin: 5px 0px 10px 0px;
}

h5 {   /* Heading 5 */
	font-size: 22px;
	font-family: "Bahnschrift", Arial, sans-serif;
}



/*----------------HEADER----------------*/

.mainHeader {   /* Header Dimensions */
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 112px;
	font-size: 26px;
	font-family: "Bahnschrift", Arial, sans-serif;
	background-color: #004310;
}

.logoHeader {   /* Logo in Header */
	width: 100px;
	height: 100px;
	margin: 15px 0px 0px 10px;
}

.mainNav {   /* Header Navigation */
	width: 432px;
	height: 24px;
	margin: 35px 110px 0px 20px;
}

.mainNav ul li {   /* Navigation list styling */
	font-size: 28px;
	display: inline;
	cursor: pointer;
}

.mainNav ul li a {   /* Navigation list styling */
	color: #fff;
	text-decoration: none;
}

.mainNav ul li a:hover {
	color: #CB2E16;
	font-weight: bold;


	-webkit-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	transition: all .5s ease-in;
}

.searchBar {   
	width: 196px;
	height: 34px;
	background-color: white;
	margin: 30px 0px 0px 0px;
	font-size: 28px;
	font-family: "Bahnschrift", Arial, sans-serif;
	border: 3px solid white;
	border-radius: 6px;
	color: white;
	background-color: #004310;
	display: flex;
	flex-direction: row;
}

.searchBar img {
	width: 28px;
	height: 28px;
	margin: 3px 26px 0px 6px;
}

.searchBar p {   
	margin-top: 4px;
}

.shoppingCart {   /* Cart Button */
	width: 30px;
	height: 30px;
	margin: 36px 0px 0px 28px;
}



/*---------------HOME_/_Hero_Image_Scroll--------------*/

.heroImgScrl {   /* Home Hero Image */
	height: 312px;
}



/*---------------HOME_/_Featured_Products--------------*/

.ftdProducts {   /* Featured Products Section */
	height: 340px;
	margin-top: 20px;
}

.lineDivider {   /* Black Line Divider */
	width: 480px;
	height: 3px;
	background-color: black;
}

.ftdBeer {
	display: flex;
	justify-content: space-evenly;
	margin: 20px 0px 0px 0px;
}

.imgText {
	display: flex;
	flex-direction: row;
	border: 2px solid black;
	padding: 8px 0px 8px 0px;
	width: 230px;
}

.ftdImg {
	width: 66px;
	height: 212px;
}

.ftdImg img {
	margin: 0px 20px 0px 20px;
}

.ftdText {
	margin-left: 30px;
	font-family: "Bahnschrift", Arial, sans-serif;
}

.ftdInfo {
	width: 130px;
	height: 130px;
	font-family: "Bahnschrift", Arial, sans-serif;
}

.prdctBtn a {
	font-family: "Bahnschrift", Arial, sans-serif;
	text-decoration: none;
	color: black;
}

.shpMrBtn {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.shpMrBtn a {
	font-family: "Bahnschrift", Arial, sans-serif;
	text-decoration: none;
	color: black;
}



/*---------------HOME_/_OUR_BRAND--------------*/

.ourBrand {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 960px;
	height: 314px;
	margin: 20px 0px 20px 0px;
}

.brndInfo{
	width: 440px;
	height: 200px;
	font-size: 18px;
	font-family: "Bahnschrift", Arial, sans-serif;
	margin: 25px 0px 0px 26px;
}

.moreBtn {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.moreBtn a {
	font-family: "Bahnschrift", Arial, sans-serif;
	text-decoration: none;
	color: black;
}

.brndImg img{
	width: 448px;
	height: 314px;
	margin-left: 24px;
}



/*---------PRODUCTS_/_Hero_IMAGE--------*/

.heroImg {
	height: 312px;
}



/*---------PRODUCTS_/_BEER----------*/

.Beer {
	height: 960px;
	margin: 20px 0px 60px 0px;
}

.series {
	height: 390px;
	display: flex;
	justify-content: space-evenly;
}

.beerContent {
	border: 2px solid black;
	padding: 10px 10px 10px 10px;
	font-family: "Bahnschrift", Arial, sans-serif;
}

.beerContent p {
	margin: 20px 0px 10px 0px;
}

.beerimg {
	height: 160px;
	width: 160px;
	margin: 0px 0px 20px 10px;
}

.prdctinfo {
	width: 180px;
	margin: 0px 0px 10px 0px;
	font-family: "Bahnschrift", Arial, sans-serif;
}

.prdctBtn{
	margin: 25px 0px 0px 60px;
	font-family: "Bahnschrift", Arial, sans-serif;
}



/*---------Our_Brand_/_Our_Brand----------*/

.ourBrndInfo {
	width: 960px;
	height: 810px;
	margin: 20px 0px 20px 0px;
	font-family: "Bahnschrift", Arial, sans-serif;
}

.brandP1 {
	display: flex;
	flex-direction: column;
}

.brandP1 p{
	width: 536px;
	height: 94px;
	margin: 38px 0px 0px 210px;
}

.infoAndpic {
	display: flex;
	justify-content: space-evenly;
}

.brndInfo1And2 {
	width: 322px;
	height: 416px; 
	margin: 62px 0px 0px 0px;
}

.brndInfo1And2 h5 {
	margin: 16px 0px 30px 0px;
}



/*----------------Contact_/_HeroImg----------------*/

.heroImgContact {
	width: 960px;
	height: 178px;
}



/*----------------Contact_/_Email_Us----------------*/

.emailUs {   /* Email Us Section */
	width: 960px;
	height: 470px;
	margin: 40px 0px 20px 0px;
	font-family: "Bahnschrift", Arial, sans-serif;
}

.emailUs p {   /* Email Us Paragraph */
	width: 500px;
	margin: 10px 0px 0px 30px;
}

.contactRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contactForm {
	margin: 40px 0px 60px 0px;
}

.inputBox label {
	font-size: 22px;
	font-family: "Bahnschrift", Arial, sans-serif;
	display: block;
	margin: 20px 0px 0px 24px;
}

.inputBox div {
	width: 260px;
	height: 45px;
	border: 2px solid black;
	border-radius: 8px;
	font-family: "Bahnschrift", Arial, sans-serif;
	margin-left: 20px;
}

.inputBoxMessage { /* Input Box For Messages */
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.inputBoxMessage label {
	font-size: 22px;
	font-family: "Bahnschrift", Arial, sans-serif;
	display: block;
	margin: 20px 0px 0px 24px;
}

.inputBoxMessage div {
	width: 540px;
	height: 88px;
	border: 2px solid black;
	border-radius: 8px;
	font-family: "Bahnschrift", Arial, sans-serif;
	margin-left: 20px;
}

.submitAndReset {   
	width: 142px;
	height: 38px;
	margin: 20px 0px 0px 20px;
	font-size: 22px;
	font-family: "Bahnschrift", Arial, sans-serif;
	border: 2px solid black;
	border-radius: 6px;
}

.submitAndReset p {   
	margin: 10px 0px 0px 40px;
}

.contactRowBottom {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contactRowBottom label {
	font-size: 22px;
	font-family: "Bahnschrift", Arial, sans-serif;
	margin: 20px 0px 0px 24px;
}

.contactRowBottom input {
	width: 540px;
	height: 88px;
	border: 2px solid black;
	border-radius: 8px;
	font-family: "Bahnschrift", Arial, sans-serif;
	margin-left: 20px;
}

/*----------------Contact_/_Social_Media----------------*/

.socialMedia {   /* Social Media Section Dimensions */
	width: 960px;
	height: 240px;
	margin: 0px 0px 20px 0px;
	font-family: "Bahnschrift", Arial, sans-serif;
}

.socialMedia p {   /* Social Media Paragraph */
	width: 480px;
	margin: 10px 0px 0px 30px;
}

.socialMediaPics {   /* Social Media Images Box */
	display: flex;
	justify-content: space-evenly;
}

.mediaPics {   /* Social Media Images */
	width: 100px;
	height: 100px;
	margin: 35px 0px 0px 0px;
}



/*----------------Cart_/_Your_Cart----------------*/

.yourCart {   /* Your Cart Section */
	width: 960px;
	height: 518px;
	margin: 20px 0px 20px 0px;
}

.purchase {   /* Item Content (image and text) */
	display: flex;
	flex-direction: row;
	width: 478px;
	height: 190px;
	margin: 30px 0px 30px 50px;
}

.purchasePic {   /* Purchse Image */
 width: 188px;
 height: 188px;
 margin-right: 20px;
}

.purchaseTxt {
	width: 400px;
}

.lineDividerSmall {   /* Small Black Line */
	width: 230px;
	height: 1px;
	background-color: black;
}

.qtyBtn {
	width: 74px;
	height: 22px;
	margin: 0px 0px 0px 0px;
	font-size: 18px;
	font-family: "Bahnschrift", Arial, sans-serif;
	border: 2px solid black;
	border-radius: 8px;
}

.qtyBtn p {
	margin: 3px 0px 0px 5px;
}

.lineDividerLong {   /* Long Black Line */
	width: 786px;
	height: 1px;
	background-color: black;
	margin: 0px 0px 0px 50px;
}

/*----------------Cart_/_Order----------------*/

.order {   /* Order Section Dimensions */
	width: 960px;
	height: 324px;
	margin: 20px 0px 20px 0px;
}

.order h5 {   /* Order Heading 5 Styling */
	margin: 25px 0px 0px 30px;
}

.lineDividerMedium {   /* Medium Black Line DIvider */
	width: 394px;
	height: 1px;
	background-color: black;
	margin: 25px 0px 0px 30px;
}

.promoCode {
	margin: 20px 10px 0px 30px;
}

.promoCode label {
	font-size: 18px;
	font-family: "Bahnschrift", Arial, sans-serif;
	display: block;
	margin: 0px 0px 0px 6px;
}

.promoCode input {
	width: 202px;
	height: 26px;
	border: 2px solid black;
	border-radius: 8px;
	font-family: "Bahnschrift", Arial, sans-serif;
}

.promoCode input[type=Submit]{   /* Submit Button Styling */
	font-size: 18px;
	font-family: "Bahnschrift", Arial, sans-serif;
	width: 96px;
	height: 26px;
	padding: 2px 0px 0px 0px;
	margin: 0px 0px 0px 30px;
}



/*----------------FOOTER----------------*/

.mainFooter {   /* Footer Section Dimensions */
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0 auto;
	width: 960px;
	height: 112px;
	background-color: #004310;
}

.logoFooter {   /* Footer Logo */
	width: 100px;
	height:100px;
	margin: 20px 10px 0px 20px;
}

.footerNav {   /* Footer Navigation */
	width: 120px;
	height: 100px;
	margin: 6px 0px 0px 10px;
}

.footerNav ul li {   /* Footer Nav List Styling */
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	cursor: pointer;
}

.footerNav ul li a {   /* Footer Nav List Font Styling */
	color: white;
	font-family: "Bahnschrift", Arial, sans-serif;
	text-decoration: none;
}

.footerNav ul li a:hover {
	color: #CB2E16;
	font-weight: bold;


	-webkit-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	transition: all .5s ease-in;
}

.copyright {   /* Copyright Info Section */
	width: 240px;
	height: 16px;
	font-family: "Bahnschrift", Arial, sans-serif;
	color: white;
	align-self: flex-end;
	margin: 0px 0px 0px 100px;
}

.countrySelect {   /* Country Selection Box */
	width: 130px;
	height: 20px;
	background-color: white;
	margin: 45px 0px 0px 170px;
	font-size: 14px;
	font-family: "Bahnschrift", Arial, sans-serif;
	border: 2px solid white;
	border-radius: 6px;
	color: white;
	background-color: #004310;
}

.countrySelect p {   /* Country Selection Text */
	margin: 4px 0px 0px 40px;
}